{% extends 'base.html' %}

{% block conteudo %}

    <!-- Mensagens de Escopo global no Flash é o GET e Local é With -->
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        <div>
            <ul>
                {% for msg in mensagens %}
                <li> {{ msg }} </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <br><br><br>
    <form action="/autenticar" method="POST">
       <label> Usuário: </label>
       <input type="text" name="usuario"><br><br>

       <label> Senha: </label>
       <input type="text" name="senha"><br><br>

       <button type="submit"> Enviar </button>
       <button type="submit"> Cadastrar </button>
    </form>

{% endblock %}